@import "variables";

.textareaWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;

    width: 100%;
    box-sizing: border-box;

    min-height: 5rem;
}

.textarea {
    border-radius: 0.25rem;
    padding: 0.75rem 1.25rem;

    font-size: 1rem;

    width: 100%;
    min-height: 7rem;
    box-sizing: border-box;

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.625rem;

    transition: border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;

    background-color: transparent;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color 0.1s ease-in-out;
    }

    &:focus {
        outline: none;

        border-color: $border !important;

        transition: border-color 0.1s ease-in-out;
    }

    &::placeholder {
        color: rgba(255, 255, 255, 0.4);
    }

    &.invalid {
        border-color: red;
    }
}

.label {
    font-size: 1rem;

    margin-left: 0.25rem;
}

.error {
    color: #e20c00;

    display: flex;
    align-items: center;
}
