@font-face {
    font-family: "KGTwoisBetterThanOne";
    src: url("/fonts/KGTwoisBetterThanOne/KGTwoisBetterThanOne.ttf");
    src: local("KG Two is Better Than One"), local("KG-Two-is-Better-Than-One"),
        url("/fonts/KGTwoisBetterThanOne/KGTwoisBetterThanOne.ttf")
            format("truetype");
    font-weight: 400;
    font-style: normal;
}
