@import "variables";

.main {
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    background-color: $background;
}

.title {
    margin: 0;

    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    span {
        font-size: 1.75rem;
        font-weight: 500;
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    min-width: 25rem;
}

@media screen and (max-width: 425px) {
    .title {
        font-size: 1.75rem;

        span {
            font-size: 1rem;
        }
    }

    .form {
        min-width: 20rem;
    }
}

@media screen and (max-width: 375px) {
    .form {
        min-width: 18rem;
    }
}

@media screen and (max-width: 375px) {
    .form {
        min-width: 16rem;
    }
}
