@import "variables";

.main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-color: $background;
}

.card {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 1;
}

.globeImageWrapper {
    position: absolute;
    top: 40%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 60%;
    height: 60%;
}

.globe {
    position: relative;
}

.line {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 10rem;

    // min-width: 2rem;
    // max-width: 2rem;
    width: 4rem;
    height: 100%;

    background-color: #3cb049;
}

.bowImageWrapper {
    position: absolute;
    top: 2rem;
    left: 5rem;

    width: 13.75rem;
    height: 13.75rem;
}

.bow {
    position: absolute;
    z-index: 2;
    top: 2rem;
    left: 5rem;
}

.table {
    background-color: rgb(46, 109, 79);

    width: 100%;
    min-height: 27rem;
    height: fit-content;

    padding: 1rem;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.content {
    height: 60%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    font-family: "KGTwoisBetterThanOne";
    font-size: 2rem;

    max-width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 8rem;
}

.cardButtonsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardRateTitle {
    font-weight: 500;
}

.cardRateButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

@media screen and (max-width: 1024px) {
    .line {
        width: 3rem;
        left: 9rem;
    }

    .bowImageWrapper {
        width: 11.75rem;
        height: 11.75rem;
    }

    .table {
        min-height: 26rem;
    }
}

@media screen and (max-width: 768px) {
    .line {
        width: 2rem;
        left: 8rem;
    }

    .globeImageWrapper {
        width: 50%;
        height: 50%;
    }

    .bowImageWrapper {
        width: 9.75rem;
        height: 9.75rem;
        left: 4rem;
    }

    .table {
        min-height: 25rem;
    }

    .message {
        font-size: 2rem;

        margin-top: 0;
    }
}

@media screen and (max-width: 425px) {
    .line {
        width: 1.5rem;
        left: 3rem;
    }

    .globeImageWrapper {
        top: 45%;
    }

    .bowImageWrapper {
        width: 5.75rem;
        height: 5.75rem;
        left: 1rem;
    }

    .message {
        max-width: 16rem;

        font-size: 1.5rem;
    }
}

@media screen and (max-width: 375px) {
    .line {
        width: 1.25rem;
        left: 2.5rem;
    }

    .bowImageWrapper {
        width: 4.75rem;
        height: 4.75rem;
        left: 1rem;
    }

    .message {
        max-width: 15rem;

        font-size: 1.5rem;
    }

    .cardRateTitle {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 325px) {
    .line {
        width: 1rem;
        left: 1.75rem;
    }

    .bowImageWrapper {
        width: 3.75rem;
        height: 3.75rem;
        left: 0.5rem;
    }
}
